<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corp.conversj.outerspacemanager" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Connexion.SignUpActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Connexion.SignInActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Buildings.BuildingActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Searches.SearchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Galaxy.GalaxyActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Fleet.ShipActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Attack.AttackActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Attack.FleetActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".GeneralView.GeneralActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".GeneralView.GeneralDetailActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>